* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.top-navbar {
  display: none;
}

.navbar-menu {
  display: none;
}

@media (min-width: 1015px) {
  .top-navbar {
    display:flex;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
  }

  .top-navbar-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
  }

  .navbar-menu {
    display: flex;
  }

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin-right: 44px;
  }

  li a {
    color: #19191a;
    padding-bottom: 4px;
  }

  li a:hover {
    border-bottom: 2px solid #dfa974;
  }

  .active {
    border-bottom: 2px solid #dfa974;
  }

  .navbar .fa-bars {
    display: none;
  }

  .navbar img {
    padding: 23px 0 23px 6px;
  }

  .mainmenu {
    padding-top: 13px;
    padding-right: 62px;
  }

  .fa-search {
    padding-top: 30px;
  }

  .left-side-items {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .top-navbar-contact i {
    color: #dfa974;
  }

  .top-navbar-contact span {
    display: inline-block;
    font-size: 16px;
    color: #19191a;
    font-weight: 500;
    font-family: "Cabin", sans-serif;
    padding: 14px 0 12px;
    margin-right: 64px;
    line-height: 1.5;
    margin-left: 6px;
  }

  .right-side-items {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .top-navbar-social {
    padding: 13px 0;
  }

  .top-navbar-social a {
    color: #19191a;
    margin-left: 15px;
    font-size: 16px;
  }

  .booking-btn {
    font-size: 13px;
    font-weight: 700;
    padding: 16px 28px 15px;
    background: #dfa974;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 35px;
    height: 50px;
  }

  .language-option {
    margin-left: 30px;
    display: flex;
    height: 50px;

    img {
      border-radius: 50%;
      padding: 12px 0 12px;
    }

    span {
      margin-left: 10px;
      padding: 15px 0;
    }
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 25px 15px;

  & a {
    display: inline-block;
  }

  & .fa-bars {
    font-size: 22px;
    border: 1px solid #19191a;
    border-radius: 2px;
    padding: 3px 5px;
  }
}

@media (min-width: 1015px) {
  .navbar {
    padding: 0 40px;
  }
}

.hero-section {
  background-image: url("./images/hero-1.jpg");
  height: 1385px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
@media (min-width: 1015px) {
  .hero-section {
    height: 771px;
  }

  .hero-section .container {
    display: flex;
    max-width: 990px;
  }
}

h1 {
  font-family: 'Lora', serif;
  font-weight: 400;
  margin: 0;
}

.hero-text {
  color: white;
  padding: 200px 18px 0 18px;

  & h1 {
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 16px;
  }

  & p {
    color: #ffffff;
    line-height: 28px;
    margin-bottom: 35px;
    font-size: 18px;
  }

  & a {
    color: white;
    border-bottom: 2px solid #dfa974;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 5px;
  }
}

@media (min-width:1015px) {
  .hero-text {
    max-width: 470px;
    padding-left: 55px;
  }
}

.booking-form {
  background-color: #fff;
  margin: 45px 15px 0 15px;
  border-radius: 4px;
  padding: 44px 40px 50px 40px;

  & h3 {
    font-size: 30px;
    color: #19191a;
    margin-top: 0;
    margin-bottom: 36px;
    font-weight: 400;
    font-family: "Lora", serif;
    line-height: 1.2;
  }

  & input, select {
    width: 100%;
    height: 50px;
    border: 1px solid #ebebeb;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
  }

  & label {
      font-size: 14px;
      color: #707079;
      display: flex;
      margin-bottom: 12px;
      margin-top: 12px;
  }

  & button {
    text-transform: uppercase;
    border: 1px solid #dfa974;
    color: #dfa974;
    background: transparent;
    width: 100%;
    height: 45px;
    margin-top: 30px;
  }
}

@media (min-width:1015px) {
.booking-form {
  margin-top: 60px;
  margin-left: 15.3333%;
}

}
.about-us-section {
  border-bottom: 1px solid #ebebeb;
  text-align: center;

  & .about-us-text {
    padding: 100px 35px 35px 35px;
  }

  & .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  & span {
    font-size: 14px;
    color: #dfa974;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  & h2 {
    margin: 0;
    color: #19191a;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    font-family: "Lora", serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  & .first-para, .second-para {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    line-height: 25px;
    margin: 0 0 15px 0;
    color: #595960;
    font-weight: 500;
  }

  & .second-para {
    padding-bottom: 25px;
  }

  & a {
    color: #19191a;
    border-bottom: 2px solid #dfa974;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 5px;
  }

  & img {
    width: 100%;
    padding-bottom: 18px;
  }

  & .about-img-1 {
    padding-bottom: 115px;
  }
}

@media (min-width: 1015px) {
  .about-us-section .container {
    display: flex;
    max-width: 990px;
  }

  .about-us-section .about-us-text {
    padding: 100px 35px 80px 35px;
  }

  .about-us-title {
    padding: 4px;
  }

  .about-us-title h2 {
    font-size: 44px;
    line-height: 1.5;
  }

  .about-us-pics {
    display: flex;
  }

  .about-us-pics img {
    height: 305px;
    width: 210px;
    margin: 100px -15px 0 50px;
  }
}

.services-section {
  text-align: center;
  padding: 100px 35px 35px 35px;

  & .services-title {

    & span {
      font-size: 14px;
      color: #dfa974;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    & h2 {
      font-family: "Lora", serif;
      font-size: 44px;
      font-weight: 400;
      color: #19191a;
      line-height: 58px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0;
    }
  }

    .services-item {
      text-align: center;
      padding: 30px 35px 18px;
      max-width: 100%;
    }

    .services-item:hover {
      background-color: #dfa974;

      & .fa, h4, p {
        color: #ebebeb;
      }
    }

    & .fa {
      color: #dfa974;
      font-size: 50px;
    }

    & h4 {
      color: #19191a;
      font-size: 22px;
      margin-bottom: 15px;
      margin-top: 10px;
      font-family: 'Lora', sans-serif;
      font-weight: 400;
    }

    & p {
      color: #707079;
      font-size: 16px;
      font-family: "Cabin", sans-serif;
      line-height: 26px;
    }
}

@media (min-width:1015px) {
  .services-items {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 230px;
  }
}

